node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.*.local
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
logs
*.log
npm-debug.log*
prisma/*.db
prisma/*.db-journal
.vercel
*.tsbuildinfo
